body {
  background: linear-gradient(120deg, red, blue) no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.bg {
  margin-left: 350px;
  width: 400px;
  z-index: -1;
}
img body {
  position: absolute;
}
.tom {
  height: 450px;
  width: 350px;
  transform: rotate(25deg);
  transform-origin: top;
  animation: tom 6s linear infinite;
}

@keyframes tom {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
